// these must correspond to the server for ptp-api
// https://github.com/personaltelco/ptp-api

// pageConf is set by splash.html in ptp-splash-page

var serverConf = {
        apiserver : 'http://' + pageConf.apiserver,
}
serverConf.apibase = serverConf.apiserver + '/api/v0';
// the place where the images are stored
// must be whole url
serverConf.imgbase = 'http://' + pageConf.staticserver + '/images/nodes/';

