// these must correspond to the server for ptp-api
// https://github.com/personaltelco/ptp-api

// pageConf is set by splash.html in ptp-splash-page

var serverConf = {
    apiserver : pageConf.apiserver,
    staticserver : pageConf.staticserver,
    apibaseurl : pageConf.apibaseurl,
    staticbaseurl : pageConf.staticbaseurl
}
// the place where the images are stored
serverConf.imgbase = serverConf.staticbaseurl + '/images/nodes/';
